<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MUL - iBoard</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/libs/materialize-css/dist/css/materialize.min.css">
</head>
<body>
<!-- Navbar -->
<nav>
  <div class="nav-wrapper deep-orange">
    <ul class="left">
      <li data-activates="slide-out" class="button-collapse"><a href="#"><i class="material-icons">menu</i></a></li>
    </ul>
    <a href="#!" class="brand-logo center">iBoard</a>
  </div>
</nav>

<!-- Side nav -->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view deep-orange">
      <h3 class="white-text">Tools</h3>
    </div>
  </li>
  <li><a class="subheader deep-orange-text">Tools</a></li>
  <li><a id="eraseCanvasButton" class="waves-effect" href="#!">Erase canvas</a></li>
  <li><a download="saved_board.png" id="saveButton" class="waves-effect">Save canvas to image</a></li>
  <!-- Size -->
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader deep-orange-text">Chalk size</a></li>
  <li>
    <form action="#">
      <p class="range-field">
        <input id="pencil-size" type="range" min="1" max="100" value="1"/>
      </p>
    </form>
  </li>
  <!-- Color -->
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader deep-orange-text">Chalk color</a></li>
  <li>
    <input id="pencil-color" class="jscolor" onchange="onChangeColor(this.jscolor)" value="000000">
  </li>
  <!-- Other -->
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader deep-orange-text">Other</a></li>
  <li><a id="eraseCanvasButton" class="waves-effect modal-trigger" href="#modal-about">About</a></li>
</ul>

<!-- Modal about -->
<div id="modal-about" class="modal">
  <div class="modal-content">
    <h4>About</h4>
    <p>iBoard id colaborative virtual interactive board developed by Filip Gulan in 2018 as MUL Project on BUT.</p>
    <p>Anybody who join this board, can draw on this board. It is like real board, but on webpage.</p>
    <p>You can set up size or color of chalk.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close deep-orange waves-effect btn-flat white-text">Close</a>
  </div>
</div>

<!-- Canvas -->
<canvas id="board" width="800" height="480"></canvas>

<!-- Libs scripts -->
<script src="/libs/fabric/dist/fabric.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/libs/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/libs/materialize-css/dist/js/materialize.min.js" type="text/javascript"></script>
<script src="/libs/jscolor-picker/jscolor.js" type="text/javascript"></script>

<!-- My scripts -->
<script src="index.js" type="text/javascript"></script>
</body>
</html>

